/*
All the icons were found on https://www.svgrepo.com/svg and are properties of their authors
*/
@font-face {
    font-family: 'FIcons';
    src: url('icons/f-icons.ttf');
}
.fi {
    font-family: 'FIcons';
    /* font-weight: bold; */
}
.fi-file:before {
    content: '0';
}
.fi-package:before {
    content: '1';
}
.fi-flutter-left:before {
    content: '2';
}
.fi-flutter-right:before {
    content: '3';
}
.fi-dots:before {
    content: '4';
}
.fi-gear:before {
	content: '5';
}
.fi-edit:before {
	content: '6';
}
.fi-exchange:before {
	content: '7';
}
.fi-license:before {
	content: '8';
}
.fi-arrow-right:before {
	content: '9';
}
.fi-arrow-left:before {
	content: ':';
}